##**Laboratorio 01** - Algoritmos 2021-2
#**01 Data Types and Data Structures**
**Basic Variables Types**

**Strings**

In [ ]:
saludo = 'Hola Mundo, '

In [ ]:
asunto = 'Algoritmos con Python.'

Imprime la unión de los variables con strings

In [ ]:
print(saludo + asunto)

Hola Mundo, Algoritmos con Python.

**Números**

In [ ]:
numero = 20

Imprime el número entero 20:

In [ ]:
print(numero)

20

Imprimero la clase o tipo del valor de la variable:

In [ ]:
print(type(numero))

<class 'int'>

**Convertir un string a un integer (número)**

In [ ]:
string = "50"

In [ ]:
print(type(string))

<class 'str'>

Conversión a integer (número):

In [ ]:
string_to_int = int(string)

In [ ]:
print(type(string_to_int))

<class 'int'>

**Float (Número Real en Matemáticas)**

In [ ]:
string2 = "34"

Conversión a float:

In [ ]:
conversion_float = float(string2)

In [ ]:
print(type(conversion_float))

<class 'float'>

**"Tipos Booleanos" Valores True y False**

In [ ]:
valor = True

In [ ]:
valor2 = False

In [ ]:
print(valor)

True

Mostrar el tipo de dato de la varible "valor":

In [ ]:
print(type(valor))

<class 'bool'>

**Operaciones Matemáticas Básicas**

In [ ]:
print("Suma ", 2+13)

Suma  15

In [ ]:
print("Resta ", 32-8)

Resta  24

In [ ]:
print("Multiplicación ", 34*11)

Multiplicación  374

In [ ]:
print("División ", 89/3)

División  29.666666666666668

In [ ]:
print("Exponente", 3**4)

Exponente 81

Números racionales y decimales:

In [ ]:
print(16/9)

1.7777777777777777

In [ ]:
print(16.0/9)

1.7777777777777777

**Colección de Datos**

**Listas:** (Pueden contener strings, integers, booleans, floats...)

In [ ]:
lista = ['Hola', True, 20.45, 190, 196, 234]

In [ ]:
print(lista)

['Hola', True, 20.45, 190, 196, 234]

A los elementos en las listas se pueden por medio de los índices

In [ ]:
lista = ['Hola', True, 20.45, 190, 196, 234]

Para conocer la cantidad o longitud de la lista:

In [ ]:
print(len(lista))

6

Imprimir el elemento de la lista en la primera y última posición:

In [ ]:
print(lista[0])

Hola

In [ ]:
print(lista[5])

234

Imprime el elemento cuya posición es [tamaño total de la lista - 2] = [6-2] = [4]

In [ ]:
print(lista[len(lista)-2])

196

In [ ]:
lista = ['Hola', True, 20.45, 190, 196, 234]

Cambia el elemento de la lista usando el índice: (en la cuarta posición)

In [ ]:
lista[3] = 'Algoritmos'

In [ ]:
print(lista)

['Hola', True, 20.45, 'Algoritmos', 196, 234]

Partir la lista con ":" e indicando las posiciones a las cuales los elementos se encuentren entre ellas serán mostrados

In [ ]:
print(lista[2:5])

[20.45, 'Algoritmos', 196]

Dividir la lista indicando el indice deseado y mostrando todos los demás a partir de dicho índice:

In [ ]:
print(lista[3:])

['Algoritmos', 196, 234]

Muestra todos los elementos hasta el el índice sin incluido

In [ ]:
print(lista[:1])

['Hola']

Agregar un elemento al final de la lista con **append():**

In [ ]:
lista = ['Hola', 2021, 'Algoritmos']

In [ ]:
lista.append('Mundo')

Elemento *'Mundo'* agregado al final de la lista

In [ ]:
print(lista)

['Hola', 2021, 'Algoritmos', 'Mundo']

Eliminar un elemento de la listo con **remove():**

In [ ]:
lista.remove('Algoritmos')

Elemento 'Algoritmo' eliminado de la lista

In [ ]:
print(lista)

['Hola', 2021, 'Mundo']

**Tupla** (No se pueden cambiar los elementos una vez definidos)

In [56]:
tupla = ('Algoritmos ', 'con ', 'Python ', 2021)

Se puede partir la tupla usando un índice

In [58]:
print(tupla[2:])

('Python ', 20212)

In [59]:
print(tupla[:3])

('Algoritmos ', 'con ', 'Python ')

**Set "set()"** Colección desordenada que no tiene elementos duplicados

In [60]:
lista_autos = ['BMW', 'BMW', 'Audi', 'Jeep', 'Ferrari', 'Tesla']

In [63]:
lista_set = set(lista_autos)

Remueve elementos duplicados:

In [64]:
print(lista_set)

{'Audi', 'Ferrari', 'Jeep', 'Tesla', 'BMW'}

**Dictionary** Maneja llaves (keys) únicas que pueden ser strings o floats junto con el valor (value) dentro de {}

In [1]:
dictionary = {'nombre': 'Harol', 'apellido': 'Achagua', 'clase': 'Algoritmos'}

Mostrar el value de la key *'nombre'*

In [2]:
print(dictionary['clase'])

Algoritmos

Ingresar o modificar un value usando su respectiva key:

In [3]:
dictionary['clase'] = 'Algoritmos 2021-2'

In [4]:
print(dictionary['clase'])

Algoritmos 2021-2

Mostrar todas las keys del dictionary:

In [5]:
print(dictionary.keys())

dict_keys(['nombre', 'apellido', 'clase'])

**Operaciones con strings**

Se puede mostrar la secuencia de caracteres con en las tuplas antes o después de un índice señalado:

In [6]:
string = 'Algoritmos Laboratorio 01'

In [8]:
print(string[10:])

 Laboratorio 01

Mostrar la cantidad de letras *'o'* en con **.count()**:

In [13]:
print('Algoritmos con Python, 2021-2'.count('o'))

4

Encuentra la primera ocurrencia del valor indicado y muestra su índice con **.find():**

In [14]:
print('Universidad Nacional de Colombia, '.find('l'))

19

Reemplaza una frase o caracter específico con otro usando **replace():**

In [16]:
print('Ingeniería de Sistemas y Computación, Sede Bogotá'.replace('e', 'x'))

Ingxnixría dx Sistxmas y Computación, Sxdx Bogotá

In [17]:
print('Ingeniería de Sistemas y Computación, Sede Bogotá'.replace('Bogotá', 'Medellín'))

Ingeniería de Sistemas y Computación, Sede Medellín

**Separar el string en elementos de una lista con split():**

In [18]:
colors = 'blue, yellow, red, white, black, green, pink, brown'

In [21]:
splited_colors = colors.split(', ')

In [24]:
print(splited_colors[:2])

['blue', 'yellow']

**Reemplazar partes del string con .format():**

In [25]:
fecha = 'Día: {}, Mes: {}, Año: {}'.format('24','10','2021')

In [26]:
print(fecha)

Día: 24, Mes: 10, Año: 2021

**Usando % para dar formato a un string:**

In [27]:
print('El número de Euler es %f' %2.71828)

El número de Euler es 2.718280

In [28]:
print('%s con %s' %('Algoritmos','Python'))

Algoritmos con Python

#**02 Logical Operations and Loops**

In [30]:
print(0 == 2)
print(1 == 1)
print(5 != 3)
print(2 <= 1)
print(9 >= 5)

False
True
True
False
True

In [32]:
print(True and True)

True

In [33]:
print(False or False)

False

In [34]:
print(not True)

False

#**If Statement**
Esta sentencia solo ejecuta una parte del código solo si la condición dada es True, de ser False se ejecutará otra cosa.

In [38]:
i = 1
if i == 1:
  print('i == 1 is True')

i == 1 is True

Cuando el **if** se evalúa en *False* se pasa a ejecutar al **elif**

In [41]:
p = True
q = False
if p or q:
    print('p or q is True')
elif p and q:
    print('p and q is False')
else:
    print('None')

p or q is True

#**Loop Structure**
Ejecutan una parte de código repetidamente

**While Loop**
Ejecuta una parte de código hasta que cierta condición se cumpla:

In [43]:
i = 6
while i >= 1:
  print(i)
  i -= 2

6
4
2

**For Loop** Ejecutará una parte del código hasta que la secuencia termine:

In [45]:
lista = ('Uno', 'Dos', 'Tres')
for i in lista:
  print(i)

Uno
Dos
Tres

In [49]:
autos = ['BMW', 'Audi', 'Jeep', 'Hummer']
disponibles = ['Audi', 'Ferrari']
for i in autos:
  if i not in disponibles:
    autos.remove(i)
print(autos)

['Audi', 'Hummer']

**break** termina el loop actual

In [50]:
colors = ['blue','green','red','yellow', 'black']
for i in colors:
  print(i)
  if i == 'red':
    break

blue
green
red

**continue** permite que el loop termine las iteraciones

In [53]:
colors = ['blue','green','red','yellow','black']
for i in colors:
  if i == 'red':
    continue
  print(i)

blue
green
yellow
black

**Comprensión de listas** permite crear listas avanzadas en una misma linea de código. Crando así listas a partir de listas anidadas.

*Sin listas de comprensión*

In [55]:
lista = []
for letra in 'comprensión':
  lista.append(letra)
print(lista)

['c', 'o', 'm', 'p', 'r', 'e', 'n', 's', 'i', 'ó', 'n']

*Con listas de comprensión*

In [54]:
lista = [letra for letra in 'comprensión']
print(lista)

['c', 'o', 'm', 'p', 'r', 'e', 'n', 's', 'i', 'ó', 'n']

In [61]:
print([(a,b) for a in [1,2] for b in [4,1] if 1 != 2])

[(1, 4), (1, 1), (2, 4), (2, 1)]

#**03 Functions and Objective-Oriented Programming**
**Funciones**, son bloques de código que se pueden usar varias veces para obtener un valor o hacer otras determinar acciones. Para definir una función se usa la palabra **"def"**

In [62]:
def dividir (a,b):
  return a/b
print(dividir(13,5))
print(dividir(56.8,23))

2.6
2.4695652173913043

In [63]:
def informar():
  print('Algoritmos 2021-2, Universidad Nacional de Colombia.')
informar()

Algoritmos 2021-2, Universidad Nacional de Colombia

**range()** crea una lista con una secuencia aritmética, *range(inicio,fin, rango)*

In [64]:
x = range(5)
for i in x:
  print(i)

0
1
2
3
4

In [65]:
y = range(1,6)
for i in y:
  print(i)

1
2
3
4
5

In [66]:
z = range(0,10,2)
for i in z:
  print(i)

0
2
4
6
8

**len()** se usa en los loops y retorna el valor de la longitud o tamañano de un objeto

In [72]:
letras = ['a','b','c','e','u']
print('La longitud de la lista letras es {} '.format(len(letras)))

La longitud de la lista letras es 5

**map()** ejecuta una función específica para cada elemento en la iteración *map(funcion,iterables)*

In [78]:
def sumar(a, b):
  return a + b
x = map(sumar, (1,2,3),(4,5,6))
print(x)
print(list(x)) #Convierte el map en una lista

<map object at 0x7f34c61d8fd0>
[5, 7, 9]

**sorted()** toma la lista y la devuelve ordenada

In [80]:
sorted([3,2,5,8,1,9,7,4,6])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

El parámetro "key" es usado para ser llamado en la función y el uso de "lambda" crea una función anónima qe¿ue también se puede llamar:

In [1]:
edades = [('Jose', 23),('Antonio', 12),('Laura', 45),('Juan',5)]

Retorna una lista con los elementos ordenados de menor a mayor

In [3]:
sorted(edades, key = lambda x: x[1])

[('Juan', 5), ('Antonio', 12), ('Jose', 23), ('Laura', 45)]

Agregando el parámetro "reverse" para cambiar el sentido de ordenamiento los elementos de la lista:

In [4]:
sorted(edades, key = lambda x: x[1], reverse = True)

[('Laura', 45), ('Jose', 23), ('Antonio', 12), ('Juan', 5)]

**list.sort()**, también hace lo de "key" y "reverse" pero no retorno una nueva lista.

In [5]:
edades = [('Jose', 23),('Antonio', 12),('Laura', 45),('Juan',5)]

In [7]:
edades.sort(key = lambda x: x[1])

In [8]:
print(edades)

[('Juan', 5), ('Antonio', 12), ('Jose', 23), ('Laura', 45)]

#**Clases** 
En python todo es un objeto, es una instancia de alguna clase.
Los datos almacenados en un objetos son *atributos* y las funciones son *métodos*

Nota: __init__() es una función llamda aautomáticamente cada vez que la clase es llamada para crear un nuevo Objeto

In [61]:
class Auto:
  def __init__(self, marca, modelo, precio, disponible):
    self.marca = marca
    self.modelo = modelo
    self.precio = precio
    self.disponible = disponible

  def mostrar_inventario(self):
    print('Inventario: ' + self.marca + ' ' + self.modelo + ' ' + self.disponible)

La clase "Auto" tiene los atributps marca, modelo, año, precio. El método vender y mostrar_disponibles

In [62]:
auto1 = Auto('Audi', 'A6', 80.000, 'No')
auto2 = Auto('Renault', 'Logan', 20.000, 'Si')

In [63]:
auto1.mostrar_inventario()
auto2.mostrar_inventario()

Inventario: Audi A6 No
Inventario: Renault Logan Si

Se puede agregar atributos con **.ceo** al objeto:

In [64]:
auto1.ceo = 'Rojo'
auto1.ceo

'Rojo'

con **dir(objeto)** se pueden listar los nombres de los atributos y métodos del objeto

In [ ]:
dir(auto1)

**Herencia**
Forma de organizar clases, desde la herencia más general a las más específica.

In [66]:
class child(Auto):
  def __init__(self,marca,modelo):
    self.marca = marca
    self.modelo = modelo

In [69]:
BMW = child('BMW', 'x3')
print(BMW.marca)
print(BMW.modelo)

BMW
x3

#**04 NumPy and Basic Pandas**
Permite realizar cálculos científicos en Python, estos paquetes contienen clases y métodos.

In [71]:
import numpy as np #Importación del paquete NumPy

**Arreglos con Numpy** Red o cuadrícula de valores, todos del mismo tipo, ordenados por índices de una tupla no negativa de enteros (integers).

In [72]:
temperaturas_lista = [23.3, 45.1, 36.7, 89.1, 102.5, 100.0]
temperaturas_arreglo = np.array(temperaturas_lista)
print(temperaturas_arreglo, type(temperaturas_arreglo))

[ 23.3  45.1  36.7  89.1 102.5 100. ] <class 'numpy.ndarray'>

"ndarray" significa que es un arreglo multidimensional

In [76]:
arreglo = np.array([[2,3],[4,1],[3,3]])

Si se pasa **np.array()** a listas de listas, creará un arreglo de 2 dimensiones.

In [77]:
print(arreglo, type(arreglo))

[[2 3]
 [4 1]
 [3 3]] <class 'numpy.ndarray'>

Para obtener las dimensiones de un ndarray se usa el atributo **.shape**

In [78]:
print(arreglo.shape)

(3, 2)

En un arreglo de 2 dimensiones, a cada fila se puede acceder por el índice:

In [79]:
print(arreglo[2])
print(arreglo[0])

[3 3]
[2 3]

Y para acceder a la matriz por medio de la columna:

In [80]:
print('Primera columna: ', arreglo[:,0])
print('Segunda columna: ', arreglo[:,1])

Primera columna:  [2 4 3]
Segunda columna:  [3 1 3]

#**Array Functions**

In [83]:
print(np.log(temperaturas_arreglo)) #Logaritmo Natural

[3.14845336 3.80888225 3.60277676 4.48975933 4.6298628  4.60517019]

In [84]:
print(np.mean(temperaturas_arreglo)) # Media
print(np.std(temperaturas_arreglo)) # Desviación Estándar
print(np.sum(temperaturas_arreglo)) # Sumatoria
print(np.max(temperaturas_arreglo)) # Valor Máximo

66.11666666666666
31.990541136752004
396.7
102.5

#**Pandas**
Herramienta para tratar con con información financiera.

In [86]:
import pandas as pd # Importación del paquete Pandas

**Series** 
Es un arreglo unidimensional etiquetado capaz de almacenar cualquier tipo de información (integers, strings, floats, objets, etc)

In [87]:
estaturas = [1.80, 1.45, 1.96, 1.78, 1.60, 1.68, 1.55]
s = pd.Series(estaturas) # Creación de la Serie
s                        # Ejecución de la Serie

0    1.80
1    1.45
2    1.96
3    1.78
4    1.60
5    1.68
6    1.55
dtype: float64

Se pueden personalizar los índices de una nueva Serie:

In [88]:
s = pd.Series(estaturas,index = ['a','b','c','d','e','f','g'])
s

a    1.80
b    1.45
c    1.96
d    1.78
e    1.60
f    1.68
g    1.55
dtype: float64

Cambiar los índices de una Serie existente:

In [98]:
s.index = [1,2,3,4,5,6,7]
s

1    1.80
2    1.45
3    1.96
4    1.78
5    1.60
6    1.68
7    1.55
Name: Estaturas de los Hombres, dtype: float64

In [91]:
print(s[2:])  # Mostrar los elementos a partir del índice 2
print(s[:-3]) # No mostrar los últimos tres elementos

3    1.96
4    1.78
5    1.60
6    1.68
7    1.55
dtype: float64
1    1.80
2    1.45
3    1.96
4    1.78
dtype: float64

In [92]:
print(s[2]) # Mostrar elemento de la segunda posición
s[2] = 5.00 # Asignar el valor de 5.00 en la segunda posición
print(s)    # Imprimir la Serie atualizada

1.45
1    1.80
2    5.00
3    1.96
4    1.78
5    1.60
6    1.68
7    1.55
dtype: float64

Se puede agregar un atributo "nombre" a la Serie

In [93]:
s = pd.Series(estaturas, name = 'Estaturas de los Hombres') # Asignación del nombre a la Serie
print(s)      # Imprimir la serie
print(s.name) # Imprimir el nuevo nombre de la Serie

0    1.80
1    1.45
2    1.96
3    1.78
4    1.60
5    1.68
6    1.55
Name: Estaturas de los Hombres, dtype: float64
Estaturas de los Hombres

Resúmen Estadísticos de una Serie:

In [94]:
print(s.describe())

count    7.000000
mean     1.688571
std      0.172475
min      1.450000
25%      1.575000
50%      1.680000
75%      1.790000
max      1.960000
Name: Estaturas de los Hombres, dtype: float64

#**Time Index**
Pandas ha creado funciones específicas para la fechas.
**pd.date_range()**, usado para crear un nuevo índice en la Serie

In [109]:
time_index = pd.date_range('2021-10-28', periods = len(s), freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2021-10-28', '2021-10-29', '2021-10-30', '2021-10-31',
               '2021-11-01', '2021-11-02', '2021-11-03'],
              dtype='datetime64[ns]', freq='D')
2021-10-28    1.80
2021-10-29    1.45
2021-10-30    1.96
2021-10-31    1.78
2021-11-01    1.60
2021-11-02    1.68
2021-11-03    1.55
Freq: D, Name: Estaturas de los Hombres, dtype: float64

**iloc[]** es usado para acceder por medio de un indíce de tipo integer

In [112]:
print(s.iloc[1])

1.45

In [113]:
s.index = time_index
print(s['2021-10-28']) # Se puede usar la fecha como el índice

1.8

In [114]:
print(s['2021-10-28' : '2021-11-02']) # Acceder usando un rango de edades

2021-10-28    1.80
2021-10-29    1.45
2021-10-30    1.96
2021-10-31    1.78
2021-11-01    1.60
2021-11-02    1.68
Freq: D, Name: Estaturas de los Hombres, dtype: float64

Se pueden usar diferentes operadores lógicos como & | y ~ en múltiples condicionales.

In [116]:
print(s[s < np.mean(s)])
print([(s > np.mean(s)) & (s < np.mean(s) + 2.39*np.std(s))])

2021-10-29    1.45
2021-11-01    1.60
2021-11-02    1.68
2021-11-03    1.55
Name: Estaturas de los Hombres, dtype: float64
[2021-10-28     True
2021-10-29    False
2021-10-30     True
2021-10-31     True
2021-11-01    False
2021-11-02    False
2021-11-03    False
Freq: D, Name: Estaturas de los Hombres, dtype: bool]

#**05 Pandas-Resampling and DataFrame**
Métodos de remuestreo y objeto DataFrame
Se usa Yahoo Financce para recuperar data-

In [117]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.1 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=7abf8dfbdb41044b06e58f1b3e6c9c8899ca86b947aceddab13ebd54432c62e0
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [119]:
import yfinance as yf    # Importar el paquete yfinance
aapl = yf.Ticker("AAPL")

In [121]:
print(aapl.info) #Obtener información

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.288, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 149.8, 'earningsGrowth': 0.679, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.84, 'debtToEquity': 172.081, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 90942996480, 'totalDebt': 112436002816, 'totalRevenue': 347155005440, 'totalCashPerShare': 5.502, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.327, 'beta3Year': None, 'enterpriseToEbitda': 22.928, '52WeekChange': 0.377218, 'morningStarRiskRating': None, 'forwardEps': 5.98, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 100881318, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58623004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.39125264, 'priceToBook': 38.588356, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1632528000, 'shortRatio': 1.25, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2543500394496, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.622, 'priceToSalesTrailing12Months': 7.132906, 'dateShortInterest': 1634256000, 'pegRatio': 1.35, 'ytdReturn': None, 'forwardPE': 25.050167, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 100926641, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 152.57, 'regularMarketOpen': 147.215, 'twoHundredDayAverage': 140.03078, 'trailingAnnualDividendYield': 0.005472897, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.935, 'navPrice': None, 'averageDailyVolume10Day': 71414575, 'regularMarketPreviousClose': 152.57, 'fiftyDayAverage': 145.69278, 'trailingAnnualDividendRate': 0.835, 'open': 147.215, 'toCurrency': None, 'averageVolume10days': 71414575, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 146.4128, 'currency': 'USD', 'trailingPE': 29.326548, 'regularMarketVolume': 124953168, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2476224020480, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75283306, 'dayLow': 146.4128, 'ask': 149.93, 'askSize': 1100, 'volume': 124953168, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 149.91, 'tradeable': False, 'dividendYield': 0.0058, 'bidSize': 1100, 'dayHigh': 149.935, 'regularMarketPrice': 149.8, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [122]:
aapl_table = aapl.history(start="2016-01-01", end="2017-12-31")
aapl_table # Obtener la data del historial del mercado:

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655170  24.291446  23.514544  ...  270597600        0.0             0
2016-01-05  24.379043  24.402096  23.609058  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749166  23.083441  22.230463  ...  324377600        0.0             0
2016-01-08  22.719193  22.848292  22.306536  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827752  42.004949  41.784653  ...   65397600        0.0             0
2017-12-26  40.898682  41.059116  40.630492  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

Se crea la Serie con nombre "aapl" cuyos valores son los precios de cierre con índice de las fechas correspondientes:

In [125]:
aapl = aapl_table['Close']['2017']
print(aapl)

Date
2017-01-03    27.372360
2017-01-04    27.341721
2017-01-05    27.480768
2017-01-06    27.787130
2017-01-09    28.041647
                ...
2017-12-22    41.906773
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

Se puede buscar data específica usando ['yyyy-mm-dd'] y en un mes específico con ['yyyy-mm']

In [126]:
print(aapl['2017-3']) # Filtar data usando año y mes específicos

Date
2017-03-01    33.086281
2017-03-02    32.889835
2017-03-03    33.083912
2017-03-06    32.979774
2017-03-07    33.022385
2017-03-08    32.899296
2017-03-09    32.823559
2017-03-10    32.932438
2017-03-13    32.946636
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299309
2017-03-17    33.133629
2017-03-20    33.481556
2017-03-21    33.098122
2017-03-22    33.472088
2017-03-23    33.353737
2017-03-24    33.287468
2017-03-27    33.344276
2017-03-28    34.035400
2017-03-29    34.111137
2017-03-30    34.066162
2017-03-31    34.002262
Name: Close, dtype: float64

In [127]:
aapl['2017-2':'2017-4'] # Filtrar data del año 2017 en los meses 2 4

Date
2017-02-01    30.341726
2017-02-02    30.289883
2017-02-03    30.419495
2017-02-06    30.704647
2017-02-07    30.996868
                ...
2017-04-24    33.997528
2017-04-25    34.208172
2017-04-26    34.006992
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

Para acceder a los primeros N elementos con **.head(N)**

In [128]:
print(aapl.head(10))

Date
2017-01-03    27.372360
2017-01-04    27.341721
2017-01-05    27.480768
2017-01-06    27.787130
2017-01-09    28.041647
2017-01-10    28.069929
2017-01-11    28.220749
2017-01-12    28.102917
2017-01-13    28.053432
2017-01-17    28.279669
Name: Close, dtype: float64

Para acceder a los últimos N elementos con **.tail(N)**

In [129]:
print(aapl.tail(8))

Date
2017-12-19    41.794231
2017-12-20    41.748741
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64

#**Resampling**

**series.resample.mean()** trae grupos de dato en intervalos de tiempo y luego calcula la media del intervalo

In [130]:
por_mes = aapl.resample('M').mean() # 'M' indica mes, para semana sería con 'W'
print(por_mes)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282220
2017-04-30    33.819264
2017-05-31    36.125685
2017-06-30    35.133982
2017-07-31    35.245240
2017-08-31    37.897229
2017-09-30    37.604737
2017-10-31    37.654551
2017-11-30    41.233916
2017-12-31    41.160040
Freq: M, Name: Close, dtype: float64

In [131]:
aapl.resample('M').max() # Por y mes con el máximo

Date
2017-01-31    28.739212
2017-02-28    32.451969
2017-03-31    34.111137
2017-04-30    34.264980
2017-05-31    37.099133
2017-06-30    36.944641
2017-07-31    36.471699
2017-08-31    39.129726
2017-09-30    39.141651
2017-10-31    40.332249
2017-11-30    42.050140
2017-12-31    42.244400
Freq: M, Name: Close, dtype: float64

Escoger la frecuencia con "nf" donde n es un integer y "f" es 'M' Mes, 'W' semana y 'D' día:

In [132]:
aapl.resample('3D').mean() # Tres días

Date
2017-01-03    27.398283
2017-01-06    27.787130
2017-01-09    28.110775
2017-01-12    28.078175
2017-01-15    28.279669
                ...
2017-12-17    42.019316
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886707
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64

In [133]:
aapl.resample('3w').mean()

Date
2017-01-08    27.495495
2017-01-29    28.308789
2017-02-19    30.898725
2017-03-12    32.715532
2017-04-02    33.451573
2017-04-23    33.737172
2017-05-14    35.148128
2017-06-04    36.509896
2017-06-25    35.183252
2017-07-16    34.473293
2017-08-06    36.085102
2017-08-27    37.932493
2017-09-17    38.513293
2017-10-08    36.847633
2017-10-29    37.598893
2017-11-19    41.013898
2017-12-10    41.044570
2017-12-31    41.385109
Freq: 3W-SUN, Name: Close, dtype: float64

Otros métodos también pueden ser usados:

In [135]:
aapl.resample('D').std() # Por día la Desviación Estándar

Date
2017-01-03   NaN
2017-01-04   NaN
2017-01-05   NaN
2017-01-06   NaN
2017-01-07   NaN
              ..
2017-12-25   NaN
2017-12-26   NaN
2017-12-27   NaN
2017-12-28   NaN
2017-12-29   NaN
Freq: D, Name: Close, Length: 361, dtype: float64

In [136]:
aapl.resample('W').max() # Por semana el valor máximo

Date
2017-01-08    27.787130
2017-01-15    28.220749
2017-01-22    28.279669
2017-01-29    28.739212
2017-02-05    30.419495
2017-02-12    31.341911
2017-02-19    32.122971
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022385
2017-03-19    33.299309
2017-03-26    33.481556
2017-04-02    34.111137
2017-04-09    34.264980
2017-04-16    33.886280
2017-04-23    33.713505
2017-04-30    34.208172
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597660
2017-06-04    36.944641
2017-06-11    36.925640
2017-06-18    34.838955
2017-06-25    34.779545
2017-07-02    34.658329
2017-07-09    34.266182
2017-07-16    35.421219
2017-07-23    35.891808
2017-07-30    36.471699
2017-08-06    37.346294
2017-08-13    38.277943
2017-08-20    38.557095
2017-08-27    38.170570
2017-09-03    39.141651
2017-09-10    38.671616
2017-09-17    38.533237
2017-09-24    37.872326
2017-10-01    36.798649
2017-10-08    37.075413
2017-10-15    37.457169
2017-10-22    38.287483
2017-10-29    38.903057
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657742
2017-11-26    41.897194
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657742
2017-12-24    42.244400
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64

In [137]:
aapl.resample('M').min() # Por mes el valor mínimo

Date
2017-01-31    27.341721
2017-02-28    30.289883
2017-03-31    32.823559
2017-04-30    33.296936
2017-05-31    34.681545
2017-06-30    33.812260
2017-07-31    33.921585
2017-08-31    35.661266
2017-09-30    35.920609
2017-10-31    36.619698
2017-11-30    39.819263
2017-12-31    40.470051
Freq: M, Name: Close, dtype: float64

Calular mensualmente según los precios del último día del mes anterior:

In [144]:
ultimo_dia = aapl.resample('M').agg(lambda x: x[-1])
print(ultimo_dia)

Calcular las tarifas mensuales del primer al último día:

In [142]:
retorno_mensual = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(retorno_mensual)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099019
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [143]:
print(retorno_mensual.mean()) # Realizar cálculo rápido de la media
print(retorno_mensual.std())  # Realizar cálculo rápido de la desviación estándar
print(retorno_mensual.max())  # Realizar cálculo rápido del valor

0.02686338483763841
0.0522585629034675
0.09901851007954865

In [145]:
print(ultimo_dia.diff()) # Calcula la diferencia entre cada elemento

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578705
2017-04-30   -0.002373
2017-05-31    2.305450
2017-06-30   -2.077171
2017-07-31    1.119377
2017-08-31    3.782181
2017-09-30   -2.357338
2017-10-31    3.559860
2017-11-30    0.817863
2017-12-31   -0.627380
Freq: M, Name: Close, dtype: float64

In [146]:
print(ultimo_dia.pct_change()) # Porcentaje de cambio

Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

  Para tratar con valores **NaN** se procede a llenar con 0 (ceros) esa data:

In [147]:
retorno_diario = ultimo_dia.pct_change()
print(retorno_diario.fillna(0)) # Llenar NaN con 0

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

También se puede llenar con el siguiente valor ajustado o 'backward fill' or 'bfill'

In [148]:
retorno_diario = ultimo_dia.pct_change()
print(retorno_diario.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [149]:
retorno_diario = ultimo_dia.pct_change()
retorno_diario.dropna() # Remover NaN con .dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

#**DataFrame**
Es una colección de Series de objetos, cada uno con diferentes tipos de datos
En como una table, como la hoja de cáldul en Excel.

El método común para crear un DataFrame es pasando un dictionary:

In [151]:
import pandas as pd # Importar el paquete de Pandas

dict = {'Audi' : [123.100, 453.611, 223.532],
        'BMW' : [78.21, 34.21, 56.98],
        'Ferrari' : [1.2, 2.1, 0.6]}
data_index = pd.date_range('2021-10-26', periods = 3, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

               Audi    BMW  Ferrari
2021-10-26  123.100  78.21      1.2
2021-10-27  453.611  34.21      2.1
2021-10-28  223.532  56.98      0.6

In [155]:
df = aapl_table
print(df.Close.tail(10))     #Recupar valores por el índice
print(df['Volume'].tail(10))

Date
2017-12-15    41.657742
2017-12-18    42.244400
2017-12-19    41.794231
2017-12-20    41.748741
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-15    160677200
2017-12-18    117684400
2017-12-19    109745600
2017-12-20     93902400
2017-12-21     83799600
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

Todos los métodos aplicados en la Series, también pueden ser usados en los DataFrame:

In [158]:
aapl_2017 = df['2017']
aapl_mes = aapl_2017.resample('M').agg(lambda x: x[-1])
print(aapl_mes)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  28.550681  28.607239  28.425779  ...  196804000        0.0             0
2017-02-28  32.444858  32.530065  32.354916  ...   93931600        0.0             0
2017-03-31  34.016463  34.146641  33.848414  ...   78646800        0.0             0
2017-04-30  34.104032  34.153737  33.909951  ...   83441600        0.0             0
2017-05-31  36.592913  36.640445  36.215030  ...   97804800        0.0             0
2017-06-30  34.330362  34.451572  34.171128  ...   92096400        0.0             0
2017-07-31  35.625610  35.727807  35.204950  ...   79383600        0.0             0
2017-08-31  39.043832  39.253797  39.005656  ...  107140400        0.0             0
2017-09-30  36.555269  36.774777  36.266566  ...  105199200        0.0             0
2017-10-31  40.060250  40.477792  39.831199  ...  144187200        0.0             0
2017-11-30  40.810085  41.219552  40.333574  ...  166108800        0.0             0
2017-12-31  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[12 rows x 7 columns]

Se pueden seleccionar columnas de un DataFrame usando sus nombres:

In [159]:
aapl_bar = aapl_mes[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444858  32.530065  32.354916  32.423557
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104032  34.153737  33.909951  33.999889
2017-05-31  36.592913  36.640445  36.215030  36.305340
2017-06-30  34.330362  34.451572  34.171128  34.228168
2017-07-31  35.625610  35.727807  35.204950  35.347546
2017-08-31  39.043832  39.253797  39.005656  39.129726
2017-09-30  36.555269  36.774777  36.266566  36.772388
2017-10-31  40.060250  40.477792  39.831199  40.332249
2017-11-30  40.810085  41.219552  40.333574  41.150112
2017-12-31  40.831629  40.848389  40.520339  40.522732

Especificando las filas y columnas con **.loc[]**:

In [160]:
print(aapl_mes.loc['2017-02':'2017-08', ['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2017-02-28  32.444858  32.530065  32.354916  32.423557
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104032  34.153737  33.909951  33.999889
2017-05-31  36.592913  36.640445  36.215030  36.305340
2017-06-30  34.330362  34.451572  34.171128  34.228168
2017-07-31  35.625610  35.727807  35.204950  35.347546
2017-08-31  39.043832  39.253797  39.005656  39.129726

**Declaraciones lógicas:**
Traer datos o subconjuntos específicos a partir de condicionales definidas

In [161]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2017-05-31  36.592913  36.640445  36.215030  36.305340
2017-08-31  39.043832  39.253797  39.005656  39.129726
2017-09-30  36.555269  36.774777  36.266566  36.772388
2017-10-31  40.060250  40.477792  39.831199  40.332249
2017-11-30  40.810085  41.219552  40.333574  41.150112
2017-12-31  40.831629  40.848389  40.520339  40.522732

**Data Validation**

In [162]:
aapl_bar['rate_retur'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_retur
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813         NaN
2017-02-28  32.444858  32.530065  32.354916  32.423557    0.133778
2017-03-31  34.016463  34.146641  33.848414  34.002262    0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889   -0.000070
2017-05-31  36.592913  36.640445  36.215030  36.305340    0.067808
2017-06-30  34.330362  34.451572  34.171128  34.228168   -0.057214
2017-07-31  35.625610  35.727807  35.204950  35.347546    0.032703
2017-08-31  39.043832  39.253797  39.005656  39.129726    0.107000
2017-09-30  36.555269  36.774777  36.266566  36.772388   -0.060244
2017-10-31  40.060250  40.477792  39.831199  40.332249    0.096808
2017-11-30  40.810085  41.219552  40.333574  41.150112    0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732   -0.015246

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [163]:
missing = aapl_bar.isnull() # Ayuda a revisar valores anormles
print(missing)
print('-------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_retur
Date
2017-01-31  False  False  False  False        True
2017-02-28  False  False  False  False       False
2017-03-31  False  False  False  False       False
2017-04-30  False  False  False  False       False
2017-05-31  False  False  False  False       False
2017-06-30  False  False  False  False       False
2017-07-31  False  False  False  False       False
2017-08-31  False  False  False  False       False
2017-09-30  False  False  False  False       False
2017-10-31  False  False  False  False       False
2017-11-30  False  False  False  False       False
2017-12-31  False  False  False  False       False
-------------------------------
         Open   High    Low  Close rate_retur
count      12     12     12     12         12
unique      1      1      1      1          2
top     False  False  False  False      False
freq       12     12     12     12         11

"unique" valores unicos en cada columna
Hay 12 "counts" y 11 valores "falsos", indicando que hay valores missing.

Forma más facil de encontrar valores missing:

In [164]:
print(missing[missing.rate_retur == True])

             Open   High    Low  Close  rate_retur
Date
2017-01-31  False  False  False  False        True

Usando los métodos **dropna()** y **fillna()** en el DataFrame:

In [165]:
drop = aapl_bar.dropna()
print(drop)
print('\n------------------------------------\n')
fill = aapl_bar.fillna(0) # Llenar con 0
print(fill)

                 Open       High        Low      Close  rate_retur
Date
2017-02-28  32.444858  32.530065  32.354916  32.423557    0.133778
2017-03-31  34.016463  34.146641  33.848414  34.002262    0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889   -0.000070
2017-05-31  36.592913  36.640445  36.215030  36.305340    0.067808
2017-06-30  34.330362  34.451572  34.171128  34.228168   -0.057214
2017-07-31  35.625610  35.727807  35.204950  35.347546    0.032703
2017-08-31  39.043832  39.253797  39.005656  39.129726    0.107000
2017-09-30  36.555269  36.774777  36.266566  36.772388   -0.060244
2017-10-31  40.060250  40.477792  39.831199  40.332249    0.096808
2017-11-30  40.810085  41.219552  40.333574  41.150112    0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732   -0.015246

------------------------------------

                 Open       High        Low      Close  rate_retur
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813    0.000000
2017-02-28  32.444858  32.530065  32.354916  32.423557    0.133778
2017-03-31  34.016463  34.146641  33.848414  34.002262    0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889   -0.000070
2017-05-31  36.592913  36.640445  36.215030  36.305340    0.067808
2017-06-30  34.330362  34.451572  34.171128  34.228168   -0.057214
2017-07-31  35.625610  35.727807  35.204950  35.347546    0.032703
2017-08-31  39.043832  39.253797  39.005656  39.129726    0.107000
2017-09-30  36.555269  36.774777  36.266566  36.772388   -0.060244
2017-10-31  40.060250  40.477792  39.831199  40.332249    0.096808
2017-11-30  40.810085  41.219552  40.333574  41.150112    0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732   -0.015246

#**DataFrame Concat**
Unir una Serie o DataFrame en otro usando la función **.concat()** en Pandas

In [167]:
s1 = pd.Series([123.2, 122.5, 567.2, 098.1], name = 'Audi')
s2 = pd.Series([98.2, 34.2, 21.3, 09.1], name = 'BMW')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

    Audi   BMW
0  123.2  98.2
1  122.5  34.2
2  567.2  21.3
3   98.1   9.1

Unir dos DataFrames usando las filas:

In [168]:
df_volume = aapl_table.loc['2017-10':'2018-03', ['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('n\---------------------------------------\n')
df_2017 = aapl_table.loc['2017-10':'2018-03',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2017-10-31  144187200             0
2017-11-30  166108800             0
2017-12-31  103999600             0
n\---------------------------------------

                 Open       High        Low      Close
Date
2017-10-31  40.060250  40.477792  39.831199  40.332249
2017-11-30  40.810085  41.219552  40.333574  41.150112
2017-12-31  40.831629  40.848389  40.520339  40.522732

In [169]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) # axis=1 que unirá dos DataFrames por las columnas
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2017-01-31  28.550681  28.607239  ...          NaN           NaN
2017-02-28  32.444858  32.530065  ...          NaN           NaN
2017-03-31  34.016463  34.146641  ...          NaN           NaN
2017-04-30  34.104032  34.153737  ...          NaN           NaN
2017-05-31  36.592913  36.640445  ...          NaN           NaN
2017-06-30  34.330362  34.451572  ...          NaN           NaN
2017-07-31  35.625610  35.727807  ...          NaN           NaN
2017-08-31  39.043832  39.253797  ...          NaN           NaN
2017-09-30  36.555269  36.774777  ...          NaN           NaN
2017-10-31  40.060250  40.477792  ...  144187200.0           0.0
2017-11-30  40.810085  41.219552  ...  166108800.0           0.0
2017-12-31  40.831629  40.848389  ...  103999600.0           0.0

[12 rows x 7 columns]

Por defelto toda la data es unida, resultando en info perdida. Para unir la intersección se usa **"inner join"**:

In [170]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join='inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2017-10-31  40.060250  40.477792  ...  144187200             0
2017-11-30  40.810085  41.219552  ...  166108800             0
2017-12-31  40.831629  40.848389  ...  103999600             0

[3 rows x 7 columns]

"Append" es una alternativa para concatenar dos DataFrames por axis=0:

In [173]:
concat = pd.concat([aapl_bar, df_2017], axis = 0 )
print(concat)

                 Open       High        Low      Close  rate_retur
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813         NaN
2017-02-28  32.444858  32.530065  32.354916  32.423557    0.133778
2017-03-31  34.016463  34.146641  33.848414  34.002262    0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889   -0.000070
2017-05-31  36.592913  36.640445  36.215030  36.305340    0.067808
2017-06-30  34.330362  34.451572  34.171128  34.228168   -0.057214
2017-07-31  35.625610  35.727807  35.204950  35.347546    0.032703
2017-08-31  39.043832  39.253797  39.005656  39.129726    0.107000
2017-09-30  36.555269  36.774777  36.266566  36.772388   -0.060244
2017-10-31  40.060250  40.477792  39.831199  40.332249    0.096808
2017-11-30  40.810085  41.219552  40.333574  41.150112    0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732   -0.015246
2017-10-31  40.060250  40.477792  39.831199  40.332249         NaN
2017-11-30  40.810085  41.219552  40.333574  41.150112         NaN
2017-12-31  40.831629  40.848389  40.520339  40.522732         NaN

Unir columnas con el mismo nombre

In [175]:
df_2017.columns = ['Change', 'High', 'Low', 'Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_retur     Change
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813         NaN        NaN
2017-02-28  32.444858  32.530065  32.354916  32.423557    0.133778        NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262    0.048690        NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889   -0.000070        NaN
2017-05-31  36.592913  36.640445  36.215030  36.305340    0.067808        NaN
2017-06-30  34.330362  34.451572  34.171128  34.228168   -0.057214        NaN
2017-07-31  35.625610  35.727807  35.204950  35.347546    0.032703        NaN
2017-08-31  39.043832  39.253797  39.005656  39.129726    0.107000        NaN
2017-09-30  36.555269  36.774777  36.266566  36.772388   -0.060244        NaN
2017-10-31  40.060250  40.477792  39.831199  40.332249    0.096808        NaN
2017-11-30  40.810085  41.219552  40.333574  41.150112    0.020278        NaN
2017-12-31  40.831629  40.848389  40.520339  40.522732   -0.015246        NaN
2017-10-31        NaN  40.477792  39.831199  40.332249         NaN  40.060250
2017-11-30        NaN  41.219552  40.333574  41.150112         NaN  40.810085
2017-12-31        NaN  40.848389  40.520339  40.522732         NaN  40.831629